<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" href="/static/css/reset-fonts-grids.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>
        <link rel="stylesheet" href="/static/css/screen.css" type="text/css"/>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        {% block extra_head %}
        {% end %}
        <title>{{ title or 'None' }}</title>
    </head>
    <body>
        <div id="doc2" class="yui-t7" style="background:black"> <!-- 920px, centrada -->
            <div id="hd"><h1>ITwittbook</h1></div>
            <div id="bd">
                {% block body %}
                {% end %}
            </div>
            <div id="ft" class="ft">
                <p>Copyrigth &copy; 2009, Luis Carlos Cruz</p><br/>
                <p>This app is only for learning purpose. Any security implementation has not been done. The source code is <a href="http://github.com/carlitux/ITwittBook">here</a>.</p>
            </div>
        </div>
    </body>
</html>
